[submodule "qmk_firmware"]
	path = qmk_firmware
	url = https://github.com/greyhatmiddleman/qmk_firmware.git
[submodule "vial-qmk"]
	path = vial-qmk
	url = https://github.com/greyhatmiddleman/vial-qmk.git
[submodule "zsa-qmk"]
	path = zsa-qmk
	url = https://github.com/greyhatmiddleman/zsa-qmk.git
